.sidebar{
	padding-top:100px;
}

.navbarbg{
  background-image: url("../images/navbar_bg.jpg");
  background-size: cover;
}

.contentbg{
  background-image: url("../images/content_bg.jpg");
  background-size: cover;
}

.mask{
  background-image: url("../images/bg.jpg");
  background-size: cover;
  filter: alpha(opacity=100);
  opacity: 1; 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999; 
}

.center{
	margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.center .enter{
	color: wheat;
    font-size: 20pt;
    text-decoration: underline;
	cursor:pointer;
}

.center .welcome{
	color: white;
    font-size: 30pt;
}