@font-face {
	font-family: "Antic";
	src: url("./fonts/Antic-Regular.ttf") format("opentype");
}

body {
	background: #fff;
	font-family: "Antic" !important;
}

text {
	font-family: "Antic" !important;
}
.stuck {
	position: fixed;
	overflow-y: auto;
	box-shadow: 0px 0px 10px #ddd;
	text-align:center;
	opacity: 0.9;
	background-color: rgb(250,250,250);
	z-index: 1;
	width: 30%;
	height:100vh;
}
div.right {
	text-align:center;
	width: 70%;
	right: 0px;
	margin-left:auto; 
	margin-right:0;
}
.black {
	color: black !important;
    font-weight: bold !important;
	background-color: transparent !important;
}
.fotter {
	position: fixed;
	width: 30%;
	bottom: 0cm;
	padding-bottom: 1.5cm;
}
.education {
	text-align: center;
	padding: 0.25cm;
	border-radius: 5%;
	border: 2px solid #CFEDFB;
}
.experience {
	text-align: justify;
	font-size:13px;
}
.link {
	display:block;
	cursor: pointer;
	padding: 0cm;
}
img {
	padding: 0.25cm 0.25cm 0.25cm 0.25cm;
}
a {
	font-variant: small-caps;
	color: #000;
	font-weight: 400;
	color: rgba(16, 16, 16, 0.75);
	display: inline-block;
	cursor: pointer;
}
text {
	font-variant: small-caps;
	color: #000;
	font-weight: 400;
	color: rgba(16, 16, 16, 0.75);
	display: inline-block;
	cursor: default;
}
circle {
	cursor: pointer;
}
a:hover, a:focus {
	font-weight: 500;
	color: rgba(0, 0, 0, 0.75);
}
td.table-info * {
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	text-align: left;
	vertical-align: top;
	padding-left: 0.5cm;
}
p.table-title {
	font-variant: small-caps;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	padding-top: 0cm;
	font-style: italic;
}
td {
	padding: 0px;
	padding-top: 0.8cm;
}
h1 {
	color: rgba(16, 16, 16, 0.75);
	font-variant: small-caps;
	font-size: 38px;
	font-style: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding: 0.5cm 1cm 0.5cm 1cm;
	text-align:center;
}
h2 {
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding: 0cm 1cm 0cm 1cm;
	text-align:center; 
}
h3 {
	font-variant: small-caps;
	font-size: 28px;
	color: rgba(16, 16, 16, 0.75);
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	padding: 0cm;
	text-align:center; 
	cursor: default;
}
h4 {
	font-variant: small-caps;
	color: rgba(16, 16, 16, 0.75);
	font-size: 22px;
	font-weight: 500;
	padding: 0cm;
	text-align:center; 
	cursor: default;
}
p {
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	text-align:center; 
	cursor: default;
}
label {
	color: rgba(16, 16, 16, 0.75) !important;
	font-variant: small-caps;
	font-size: 18px;
	font-weight: 400;
	display:block;
	text-align:center;
}
text {
	font-variant: small-caps;
}